body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat';
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.header {
    padding: 50px;
    margin: -20px;
    background-image: url("images/079A9012-PANO.jpg");
    background-size: cover;
    font-family: Lora;
    font-size: larger;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    color: #333;
}

.introduction img {
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

.tekst {
    padding: 30px;
    position: left;
}

.section_opleiding {
    color: #333;
}
