/* algemene stijlen */

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #6d6d6d;
}

h1 {
  color:#333;
}

h2 {
  color: #b33535;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: sticky;
}

/* header */
header {
  background-color: #eee;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  height: 70px;
  position: sticky;
}

nav {
  position: absolute;
  top: 50px;
  right: 20px;
}

li a.active {
  text-decoration: underline;
}

header h1 {
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 20px;
  color: #333;
  text-align: center;
  text-decoration: none;
}

/* main */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
  text-align: left;
}

section h2 {
  margin-top: 0;
}

/* footer */
footer {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

/* .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
} */

.profile-picture {
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

/* .profile-picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */


/* add styles to display the first two sections next to the profile picture */
.container:before,
.container:after {
  content: "";
  display: table;
  clear: both;
} */

.container section {
  width: calc(50% - 20px);
  float: left;
  margin-right: 40px;
}

/* voeg extra stijlen toe voor de portfolio-pagina */
/* .portfolio-description {
  text-align: left;
} */

/* .portfolio-description h2 {
  margin-top: 0;
} */

/* .portfolio-description p {
  margin-bottom: 0;
} */

.responsive-img {
  max-width: 100%;
  height: auto;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  border: none;
  background: none;
  color: #333;
}

@media only screen and (max-width: 600px) {
  /* verberg de normale navigatielinks */
  nav ul {
    display: none;
  }

  /* toon de menu-toggle knop */
  nav .menu-toggle {
    display: block;
    font-size: 30px;
    border: none;
    background: none;
    color: #333;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  /* toon de dropdown links wanneer de menu-toggle knop wordt aangeklikt */
  nav ul.is-open {
    display: flex;
    position: relative;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #eee;
    padding: 10px;
  }
}

/* nav ul.is-open {
  display: block;
} */
